@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");


main {
   overflow: hidden;
}

#home {
  position: relative;
  background: url("../../assets/pngwing.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}
a,
button {
   cursor: pointer;
   border: none;
   outline: none;
   user-select: none;
   background: none;
   box-shadow: none;
   text-decoration: none;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

// Elements Section
.section {
   margin: 0 auto;
   padding: 6rem 0 1rem;
}

.container {
   max-width: 75rem;
   height: auto;
   margin: 0 auto;
   padding: 0 1.25rem;
}

.centered {
   text-align: center;
   vertical-align: middle;
   margin-bottom: 1rem;
}

// Typography
.heading {
  
   &-xl {
      font-family: inherit;
      font-size: clamp(2.648rem, 6vw, 4.241rem);
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
      color: var(--color-white-200);

      
   }

   &-lg {
      font-family: inherit;
      font-size: clamp(2.179rem, 5vw, 3.176rem);
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
   }

   &-md {
      font-family: inherit;
      font-size: clamp(1.794rem, 4vw, 2.379rem);
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -1px;
   }

   &-sm {
      font-family: inherit;
      font-size: clamp(1.476rem, 3vw, 1.782rem);
      font-weight: 600;
      line-height: 1.5;
   }

   &-xs {
      font-family: inherit;
      font-size: clamp(1.215rem, 2vw, 1.335rem);
      font-weight: 500;
      line-height: 1.5;
   }
   
   
   
}

.paragraph {
   font-family: inherit;
   font-size: clamp(1rem, 2vw, 1.125rem);
   line-height: inherit;
   max-width: 95%;
   height: auto;
   text-transform: unset;
   color: var(--color-white-200);
}

// Header Section
.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: auto;
   margin: 0 auto;
   transition: all 0.35s ease;

   &.on-scroll {
      background: var(--color-black-300);
      box-shadow: var(--shadow-medium);
   }
}




// Banner Section
.banner {
   
   .banner-inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      
   }
   &-heading_xl{
      color: var(--primary-color);
      font-size: 2rem;
      margin-bottom: -1.3rem;
   }
   &-p_text{
    color: var(--color-rust-200);
    font-size: .8rem;
    
   }

   &-paragraph{
      color: var(--primary-color);
      font-size: .7rem;
      line-height: 1.5;
      margin-left: 1.95rem;
      
   }
   

   &-column {
      position: relative;
      display: grid;
      align-items: center;
      row-gap: 3rem;

      // Responsive Media Query
    
      @media only screen and (min-width: 48rem) {
         grid-template-columns: repeat(2, minmax(0, 1fr));
         justify-content: center;
         
         .banner-heading_xl {
            font-size: 2.7rem;
         }

         .banner-p_text{
            font-size: 1.3rem;
           }
         
           .banner-paragraph{
            margin-left: 0;
            font-size: 1.1rem;
           }
           
           
      }

      @media only screen and (min-width: 64rem) {
         grid-template-columns: 1fr max-content;
         column-gap: 4rem;
         .banner-heading_xl {
            font-size: 5rem;
         }
               
      
      }
      
     
   }

   &-image {
      display: block;
      max-width: 18rem;
      height: auto;
      margin-top: 2rem;
      object-fit: cover;
      justify-self: center;
      
      // Responsive Media Query
            
      @media only screen and (min-width: 48rem) {
         order: 1;
         max-width: 20rem;
         height: auto;
      }

      @media only screen and (min-width: 64rem) {
         max-width: 25rem;
         height: auto;
         margin-right: 5rem;
      }
      
   }
  
   &-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.75rem;
      
      
   }

   &-links {
      position: absolute;
      top: 30%;
      right: 1.5rem;
      display: grid;
      justify-items: center;
      row-gap: 0.5rem;
      opacity: 0;
      visibility: hidden;

      // Responsive Media Query
      @media only screen and (min-width: 64rem) {
         opacity: 1;
         visibility: visible;
      }

      & > * {
         font-size: 1.25rem;
         line-height: 1.25;
         color: var(--color-white-100);
      }

      &::before {
         position: absolute;
         content: "";
         top: -3rem;
         width: 4rem;
         height: 1.5px;
         transform: rotate(90deg);
         background: var(--color-white-100);
      }

      &::after {
         position: absolute;
         content: "";
         bottom: -3rem;
         width: 4rem;
         height: 2px;
         transform: rotate(90deg);
         background: var(--color-white-10);
      }
   }
}

// Header Circles
.app__header-circles {
   flex: 0.75;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
   height: 100%;
   margin-left: 1rem;
 
   div {
     width: 100px;
     height: 100px;
     border-radius: 50%;
 
     background: var(--white-color);
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
 
     img {
       width: 60%;
       height: 60%;
     }
   }
 
   // circles with different height & width
 
   div:nth-child(1) {
     width: 100px;
     height: 100px;
   }
 
   div:nth-child(2) {
     margin: 1.75rem;
     width: 150px;
     height: 150px;
   }
 
   div:nth-child(3) {
     width: 70px;
     height: 70px;
   }
 
   @media screen and (min-width: 2000px) {
     div:nth-child(2) {
       width: 400px;
       height: 400px;
     }
 
     div:nth-child(3) {
       width: 170px;
       height: 170px;
     }
 
     div:nth-child(1) {
       width: 200px;
       height: 200px;
     }
   }
 
   @media screen and (max-width: 1200px) {
     width: 100%;
     flex-direction: row;
     flex-wrap: wrap;
     margin-left: 0;
 
     div {
       margin: 1rem;
     }
   }
 }
